#posts {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  max-height: 500px;
}

.title {
  font-size: 1.5rem;
  color: #5a5a5a;
  text-align: center;
  font-weight: bold;
}

.item img {
  object-fit: contain;
  height: 100%;
  border-radius: 1rem;
  max-width: 450px;
  width: 100%;
  margin-left: 0;
}
